
  @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: #f3e6ed;
    font-family: Geologica;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #c478a4;
    border-radius: 30px;
}
header{
    width: 100%;
    background-color: #f3e6ed;
    padding: 10px 20px;
    box-shadow:  rgba(245, 169, 222, 0.384) 0px 3px 29px 0px;
    position:fixed;
    top:0;
    z-index: 999;

}

.logotipo{
    width: 100px;
}

.navigation{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}


/*estilo tracinhos do menu mobile*/
.menu-hamburguer{
    width: 50px;
    height: 50px;

    background-color: transparent;
    border: 0;
    border-radius: 5px;

    position: relative;
    cursor: pointer;

    display: none;
}

.menu-hamburguer::after{
    content: "";

    position: absolute;
    top: 35%;
    left: 15%;

    height: 5%;
    width: 70%;

    border-radius: 5px;
    background-color: white;
}

.menu-hamburguer::before{
    content: "";

    position: absolute;
    top: 55%;
    left: 15%;

    height: 5%;
    width: 70%;

    border-radius: 5px;
    background-color: white;
}

/*navbar */

.menu{
    list-style: none;
    display: flex;
    align-items: center;
}

.li{
    margin-left: 30px ;
}

a{
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(49, 26, 34);
    text-decoration: none;
    padding: 10px 15px;
    letter-spacing: 1px;
    font-family: Geologica;
    
 

}

a:hover{
    color:  rgb(245, 169, 222);
    transition: 0.5s ease;
}


/* main */
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 10% auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main-bloco{
position: absolute;
z-index: 1;

width: 80%;
height: 69.0vh;

background-image: url("/static/img/skyc.jpg");
background-size: cover;
background-repeat: no-repeat;
transform: scaleX(-1);

opacity: 0.5;
}

.main-imagem{
   
    width: 900px;
    z-index: 4;
    
}

.main-imagem:hover{
    transition: 0.3s ease;
    -webkit-filter: drop-shadow(1px 5px 5px #c975c9);
    filter: drop-shadow(1px 5px 5px #c478a4);
}

.img-text{
   
    z-index: 3;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}


.main-text{
    color: rgb(31, 16, 21);
    display: flex;
    font-weight: 600;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 200px;
    
}

.main-btn{
    border: none;
    background-color:rgb(240, 67, 202) ;
    color: white;
    width: 200px;
    height: 50px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 20px;
   
    text-transform: uppercase;
}

.main-btn:hover{
    background-color: #ff60bd;
    transition: 0.5s ease;
   
}

.main-h1{
    font-size: 50px;
    font-weight: bold;

}

.main-p{
    text-align: justify;
    margin-bottom: 50px;
    margin-left: 40px;
}


/* forms */

.formulario{
    
   width: 100%;
    height: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #c478a4;
}

.forms{
   
    width: 600px;

    margin: 15% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#c975c9;
    background-color:rgb(226, 212, 224);
    border-radius: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}

.form-title{
font-size: 30px;

}
label{
    font-size: 20px;
    margin-bottom: 10px;
    
}

input, select{
width: 400px;
padding: 10px;
border-radius:30px ;
border: none;
background-color: rgb(235, 224, 233);
}


/* carrossel de jogos */

.main-caroussel{
    margin: 10% auto;
    width: 100%;
}

.games-caroussel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.imggames{
    width: 300px;
    border-radius: 30px;
    
}


/* responsividade */




@media (max-width: 1400px) {
    body{
        margin: 10% auto;
    }
    .main-imagem{
    width: 750px;
    }
}

@media (max-width: 1300px) {
    body{
        margin: 10% auto;
    }
    .main-imagem{
    width: 900px;
    }
    .main-text{
        width: 300px;
        margin-left: 350px;
    }
}

@media (max-width: 1100px) {
    

    body{
        margin: 10% auto;
    }

    .main-bloco{
        height: 545px;
    }
    .img-text{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .main-text{
        
        margin: 0 150px 0 150px;
     
        font-size: 20px;
    }

    .main-imagem{

    width: 900px;
    
    display: flex;
    justify-content: center;
    margin-top: 390px;
    }

    .formulario{
        margin-top: 300px
    }
}


@media (max-width: 600px) {
    

    body{
        
       display: flex;
       justify-content: center;
       flex-direction: column;
    }

    .main-bloco{
        height: 545px;
    }
    .img-text{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .main-text{
        
        margin: 0 150px 0 150px;
     
        font-size: 20px;
    }

    .main-imagem{

    width: 900px;
    
    display: flex;
    justify-content: center;
    margin-top: 390px;
    }

    .formulario{
        margin-top: 400px
    }
}

@media (max-width: 390px) {
    

    body{
        
       display: flex;
       justify-content: center;
       flex-direction: column;
    }

    .main-bloco{
        height: 305px;
    }
    .img-text{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .main-text{
        
        margin: 0 150px 0 150px;
     
        font-size: 15px;
    }

    .main-imagem{

    width: 500px;
    
    display: flex;
    justify-content: center;
    margin-top: 410px;
    }

    .formulario{
        margin-top: 400px;
      
    }

    .forms, .form-group, input{
        width: 300px;
      
    }
    .forms{
        height: 700px;

    }
}