
  @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: #f3e6ed;
    font-family: Geologica;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #c478a4;
    border-radius: 30px;
}
header{
    width: 100%;
    background-color: #f3e6ed;
    padding: 10px 20px;
    box-shadow:  rgba(245, 169, 222, 0.384) 0px 3px 29px 0px;
    position:fixed;
    top:0;
    z-index: 999;

}

.logotipo{
    width: 100px;
}

.navigation{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}


/*estilo tracinhos do menu mobile*/
.menu-hamburguer{
    width: 50px;
    height: 50px;

    background-color: transparent;
    border: 0;
    border-radius: 5px;

    position: relative;
    cursor: pointer;

    display: none;
}

.menu-hamburguer::after{
    content: "";

    position: absolute;
    top: 35%;
    left: 15%;

    height: 5%;
    width: 70%;

    border-radius: 5px;
    background-color: white;
}

.menu-hamburguer::before{
    content: "";

    position: absolute;
    top: 55%;
    left: 15%;

    height: 5%;
    width: 70%;

    border-radius: 5px;
    background-color: white;
}

/*navbar */

.menu{
    list-style: none;
    display: flex;
    align-items: center;
}

.li{
    margin-left: 30px ;
}

a{
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(49, 26, 34);
    text-decoration: none;
    padding: 10px 15px;
    letter-spacing: 1px;
    font-family: Geologica;
    
 

}

a:hover{
    color:  rgb(245, 169, 222);
    transition: 0.5s ease;
}


/* main */
.home{
    width: 100%;
    height: 100vh;
    margin: 10% auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main-bloco{
position: absolute;
z-index: 1;

width: 80%;
height: 69.0vh;

background-color:  rgb(245, 169, 222);
}

.main-imagem{
    width: 900px;
}

.main-imagem:hover{
    transition: 0.3s ease;
    -webkit-filter: drop-shadow(1px 5px 5px #c975c9);
  filter: drop-shadow(1px 5px 5px #c478a4);
}

.img-text{
    position: absolute;
    z-index: 3;
    
    display: flex;
    align-items: center;
   

}


.main-text{
    color: white;
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main-btn{
    border: none;
    background-color:rgb(212, 75, 183) ;
    color: white;
    width: 200px;
    height: 50px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 20px;
   
    text-transform: uppercase;
}

.main-btn:hover{
    
    transition: 0.5s ease;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.main-h1{
    font-size: 50px;
    font-weight: bold;

}

.main-p{
    text-align: justify;
    margin-bottom: 50px;
    margin-left: 40px;
}


/* forms */

.formulario{
    
   width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.forms{
    width: 800px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: rgb(245, 169, 222);
    border-radius: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-title{
font-size: 30px;

}
label{
    font-size: 20px;
    margin-bottom: 10px;
    
}

input{
width: 400px;
padding: 10px;
border-radius:30px ;
border: none;
}


/* carrossel de jogos */

.main-caroussel{
    margin: 10% auto;
    width: 100%;
}

.games-caroussel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.imggames{
    width: 300px;
    border-radius: 30px;
    
}