
  @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: #ffffff;
    font-family: Geologica;
}

html, body{
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color:#213C5A;
    border-radius: 30px;
}



/* main */

.main-block{
    height: 600px;
    background-image:url("/static/img/homeimg.png");
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}


.texto-main{
    color:#ffffff;
    margin-top:50px;
    margin-left:100px;
    height: 80%;
    width: 400px;
    max-width: 100%;
}
.texto-main >h1{
    font-size: 70px;
    color: #213C5A;
    filter: drop-shadow(-5px 7px 0px #ffffff);
    font-family: inter;

}


.texto-main >p{
    color:white;
    font-size: 20px;
    text-align: justify;
    width: 400px;
}

.texto-main .btn-link{
    background-color: #213C5A;
    border:none;
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    width: 200px;
    font-size:20px;
    filter: drop-shadow(-5px 7px 0px #ffffff);
    font-weight: 600;
    color: white;
}
.btn-link:hover{
    filter:none;
    transition: 0.3s;
}
/* forms */

.forms-block{
    background: rgb(255,167,93);
    background: linear-gradient(205deg, rgba(255,167,93,1) 43%, rgba(255,181,86,1) 90%);
    padding: 70px ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3000px;
    max-width: 100%;
}
.formulario{
  
    background-color: white;
    border-radius: 20px;
    height: 550px;
    width: 500px;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.forms{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.forms .form-title{
    font-size: 20px;
    color:#213C5A;
    display:flex;
    justify-content: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 15px;
}

.form-group input{
    border:none;
    width: 100%;
    height: 40px;
    outline:none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 4px;
}
.div-jogos select{
    width: 100%;
    border:none;
    outline: none;
    border-radius: 4px;
    height: 40px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.duo-div{
    display: flex;
    gap:2em;
}

.form-group label{
    font-size: 20px;
    font-weight: 300;
    color:#213C5A;
}

.form-group > button{
    border:none;
    width: 150px;
    margin: 6% auto;
    background-color: #213C5A;
    color: white;
    height: 40px;
    font-weight: 500;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-group > button:hover{
    background-color: #44658b;
    transition: 0.4s;
}


.info-div{
    width: 3000px;
    height: 600px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-div >h2 {
    font-size: 50px;
    font-family: inter;
    color: #213C5A;
}

.infos{
    margin-top:60px;
    display: flex;
    gap:4em;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.info-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ion-icon{
    font-size: 30px;
}

/* responsividade */



